:root{
    --primary: #1a2d4e;
    --secundary: #ffffff;
    --dark: #00171f;
    --darkblue:#003459;
    --lightblue: #067cf4;
    --grey : #afabab;
    --greySoft: #F5F5F5;
    --greyLier: #C8CFD7;
}



